<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Oui game</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src = "/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.4/pixi.min.js"></script>
    <script src="/script.js" defer></script>
    <script src="/initial.js" defer></script>
    <script src="/socket.js" defer></script>

    <style type="text/css">
      #gameScreen{
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="keys"></div><div style="position: absolute; right: 0" id='ping'></div>
    <section class="vh-100">
      <div class="container h-100">

        <div id="InitialScreen" class="h-100">
          <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <h2>Multiplayer</h2>
            <button type="submit" class="btn btn-success" id='newGameButton'>Create New Game</button>
            <div>OR</div>
            <div class="form-group">
              <input type="text" name="" placeholder="Enter Game Code">
            </div>
            <button type="submit" class="btn btn-success" id='joinGameButton'>Join Game</button>

          </div>


        </div>


        <div id="gameScreen" class="h-100">
          <div class="d-flex justify-content-center h-100">
            <h3>Game code: <span id="gameCodeDisplay"></span></h3>
            <div id="GAME"></div>
          </div>
        </div>

      </div>
    </section>
  </body>
</html>
