<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="http://localhost:3000/css/auth.css">

	<title>Login to JS game</title>
</head>



<body>
	<div class="loginPage">
		<h3>Access your account</h3>	

		<div class="Login">
             <input type="text" class="inputLogin" id="UserInput" placeholder="Enter username">
             <input type="password" class="inputLogin" id="PasswordInput" placeholder="Password">

             <button type="submit" onclick="submitLogin()" class="btn btn-success" id='insertNameButton'>Play!</button>

             <a onclick="redirectPage('authentication/register')" class="registerHere">Register Here</a>
        </div>


        <p>-----------------------</p>


        <button type="submit" class="btn btn-success" id='insertNameButton'>Enter as a guest</button>
	</div>	

</body>
</html>