<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="http://localhost:3000/css/auth.css">

		<title>Login to JS game</title>
	</head>
	<body>

		<div class="loginPage">
			<a><small onclick="redirectPage('authentication/auth')"><-</small></a>
			<h3>Register your account</h3>	

			<div class="Login">
	            <input type="text" class="inputLogin" id="LoginInput" placeholder="Enter Username">
	            <input type="text" class="inputLogin" id="EmailInput" placeholder="Enter Email">

	            <input type="text" class="inputLogin" id="PasswordInput" placeholder="Password">
	            <input type="text" class="inputLogin" id="ConfirmPass" placeholder="Confirm password">

	            <button type="submit" class="btn btn-success" id='insertNameButton'>Go!</button>
	        </div>
		</div>	
	</body>
</html>